@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');

.main-mood {
    display: inline-block;
    display: flex;
    justify-content: center;
    padding-top: 20rem;
}

.btn-change-mood {
    border: 1px solid #F4E5CA;
    border-radius: 3rem;
    padding: 0.45rem;
    /* padding: 2rem, 0.75rem 0.75rem 0.75rem; */
    color: #F4E5CA;
    margin: 2rem;
    background: transparent;
}

.btn-mood {
    background-color: transparent;
    border: solid 0.5px #F4E5CA;
    color: #F4E5CA;
    font-family: 'Fira Sans', sans-serif;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius:50%;
    height: 100px;
    width: 100px;
}

.btn-1 {
    margin-right: 30px;
}

.btn-2 {
    margin-right: 30px;
}

.btn-3 {
    margin-right: 30px;
}