@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');

:root {
    --vinoChardonay:  #F4E5CA;
    --vinoBordeaux: #180904;
}

body {
    font-family: 'Fira Sans', sans-serif;
    color: #F4E5CA;
}

/* --------------------Header------------------- */

.header-wrapper {
    position: relative;
    background: url(images/BGgeneral.png);
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.main-info {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    
}

.main-info h1 {
    font-size:3rem;
    font-weight: 300;
    color: #F4E5CA;
    font-family: 'Pinyon Script', cursive;
    /* text-transform: uppercase; */
}



/* -----------Header Main Btn-------------- */

.btn-main {
    border: 1px solid var(--vinoChardonay);
    border-radius: 3rem;
    padding: 0.45rem;
    /* padding: 2rem, 0.75rem 0.75rem 0.75rem; */
    color: var(--vinoChardonay);
    margin: 2rem;
}



/* -----------Footer-------------- */
.footer {
    background-color: var(--vinoBordeaux);
    opacity: 0.7;
    color: var(--vinoChardonay);
    padding: 3rem;
}

.footer a {
    text-decoration: none;
    color: var(--vinoChardonay);
}

/* .footer a:hover {
    text-decoration: none;
    color: var(--vinoChardonay);
} */

.footer p {
    margin-bottom: 0;
}