.carousel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.carousel-wrapper {
    display: flex;
    width: 100%;
    position: relative;
}

.carousel-content-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.carousel-content {
    display: flex;
    /* right: 25px; */
    transition: all 400ms linear;
    -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
    scrollbar-width: none;  /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
    display: none;
}

.carousel-content > * {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
}

.left-arrow, .right-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: white;
    border: 1px solid #ddd;
}

.left-arrow {
    left: 24px;
}

.right-arrow {
    right: 24px;
}

/* path and .fvBtn is for heart react icon  */
path {
    fill: rgb(247, 3, 3);
    fill-opacity: 40%;
    box-shadow: 5px, 5px, 5px, seagreen;
}

path:hover{
    fill:red;
    fill-opacity: 100%;
}
/* .heartImg{
    box-shadow: 13px, 13px, 15px, seagreen;
} */

.favBtn {
    position: absolute;
    top: 75%;
    right: 10%;
    background-color: rgba(255, 255, 240, 0);
    border: none;
}

/* .favBtn {
    background-color: rgba(217, 230, 230, 0);
    border-width: 0px;
    position: absolute;
    z-index: 2;
    bottom: 5%;
    left: 25%;
}

.favBtn2 {
    background-color: rgba(217, 230, 230, 0);
    border-width: 0px;
    width: 48px;
    height: 48px;
    position: fixed;
    z-index: 3;
    bottom: 5%;
    left: 60%;
}

.favBtn3 {
    background-color: rgba(217, 230, 230, 0);
    border-width: 0px;
    width: 48px;
    height: 48px;
    position: fixed;
    z-index: 3;
    bottom: 5%;
    left: 93%;
} */



/* Carousel can show 2, 3, and 4 item at once */
.carousel-content.show-2 > * {
    width: 50%;
}

.carousel-content.show-3 > * {
    width: calc(100% / 3);
}

.carousel-content.show-4 > * {
    width: calc(100% / 4);
}